body{
    margin: 0%;
    padding: 0%;
}

.home-menu{
    font-size: 60px;
    width: 100%;
    height: 60px;
    background-color: #24325FFF; 
    float: left;
    
}

.img-home{
    height: 40px;
    padding: 10px 10px 5px 10px;
}
.img-char{
    position: relative;
    
}
.img-character{
    height: 300px;
    width: 300px;
}
nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    float: left;
}
nav ul li{
    float: left;
    list-style-type: none;
    position: relative;
}
nav ul li :hover{
    background-color: rgb(24, 33, 63);

}
nav ul li a{
    font-size: 24px;
    padding: 16px 14px;
    display: block;
    color: 	#35C9DD;
    -webkit-text-stroke: .3px #8bcf21;
    text-decoration: none;
}
nav ul li:hover ul{
    
    content: url(imagenes/pickle.png); /* no need for qoutes */
    display: block;
    position: absolute;
    left: 123px; /* change this value to one that suits you */
    top: 56px; 
}

nav p{
    float: left;
    font-size: 22px;
    line-height: 45px;
    margin: 0px;

}
