.img-loca{
    position: relative;
    width: 1200px;
    height: 500px;
    top: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}
.loca-info{
    font-size: 18px;
    font-weight: bold;
    color: #26aeb8;
    
}
.tittle-info{
    position: relative;
    top: 23px;
    font-size: 32px;
    font-weight: bold;
    color: rgb(50, 68, 129);
    
}
.loca-conta{
    position: relative;
    text-align: center;
    top: 10px;
    
}
.img-conta{
    position: relative;
    background-color: black;
    bottom: 100px;
    width: 1300px;
    height: 675px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    z-index: -1;
}