.img-loca{
    position: relative;
    width: 1000px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}
.loca-info{
    font-size: 15px;
}
.tittle-info{
    font-size: 30px;
}
.loca-conta{
    position: relative;
    left: 115px;
    top: 150px;
}